/MdC.SocialNetwork/.vs
/MdC.SocialNetwork/MdC.SocialNetwork/obj
/MdC.SocialNetwork/MdC.SocialNetwork/bin
/MdC.SocialNetwork/MdC.SocialNetWork.Data/bin
/MdC.SocialNetwork/MdC.SocialNetWork.Data/obj
/MdC.SocialNetwork/MdC.SocialNetwork.Web/obj
/MdC.SocialNetwork/MdC.SocialNetwork.Web/bin
