
@using Microsoft.AspNetCore.Identity
@using BdA.SocialNetWork.Core.Entities

@inject SignInManager<SocialUser> SignInManager
@inject UserManager<SocialUser> UserManager


<div class="header-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-1">
                <a href="index.html">Social Network</a>
            </div>
            <div class="col-lg-6 order-2 d-flex justify-content-end">
                @if (SignInManager.IsSignedIn(User))
                {
                <div class="nav-signed-in-right">
                    <ul class="top-nav-right">
                        <li>
                            <a href="index.html">Profile</a>
                        </li>
                        <li>
                            <form class="form-inline" asp-controller="Account" asp-action="Logout"
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                                  method="post">
                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                }

                else
                {
                <partial name="_LoginPartial.cshtml" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{


}