@using BdA.SocialNetwork.Web.Models
@model AccountViewModel


@Html.AntiForgeryToken()
<div class="login-area">
    <form asp-controller="Account" asp-action="Login" method="post">
        <table cellspacing="0" role="presentation">
            <tbody>
                <tr class="login-tr-area">
                    <td class="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </td>
                    <td class="email-box">
                        <div class="form-group">
                            <input asp-for="LoginModel.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                        </div>
                    </td>
                    <td class="password-box">
                        <div class="form-group">
                            <input asp-for="LoginModel.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary login-submit-btn">Log in</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>